worker_processes 1;
events {
    worker_connections 1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout 65;

    server {
        listen 80;

        # ol-vector proxy block
        location /ol-vector/ {
            rewrite ^/ol-vector/(.*)$ /$1 break;
            proxy_pass http://${OL_VECTOR_HOST}:${OL_VECTOR_PORT};
            include /etc/nginx/proxy-headers.conf;
        }

        # Future team paths can be added below, like:
        # location /team-a/ { ... }
        # location /team-b/ { ... }
    }
}
